<main>
 <div class="sidebar">
   <section class="categories">
     <h2 class="categories-heading">Search</h2>
      <div class="sidebar-contents">
        <%= form_with url: search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word %><br><br>
        <%= f.select :range, options_for_select([['ユーザー'], ['ブログ']]) %>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backword_match"], ["部分一致","partial_match"]]) %><br><br>
        <%= f.submit "検索", class: "btn btn-primary" %>
        <% end %>
      </div>
   </section>
  
   <section class="categories">
     <h2 class="categories-heading">Scene</h2>
      <div class="sidebar-contents">
        <% @tag_list.each do |list|%>
　　    <p class="categories-text"><%=link_to list.name,search_tag_path(tag_id: list.id) %><%="(#{list.blogs.count})" %></p><% end %>
      </div>
   </section>

   <section class="categories">
     <h2 class="categories-heading">City</h2>
     　<div class="sidebar-contents">
        <% @places.each do |list| %>
　　    <p class="categories-text"><%=link_to list.name, search_place_path(place_id: list.id) %><%="(#{list.blogs.count})" %></p><% end %>
       </div>
   </section>
  </div>

 <section class="blog">
  <h2 class="blog-heading">About</h2>
　　<div class="blog-box">
    　<div class = "profile">
    　  神奈川県茅ヶ崎市の魅力を写真投稿やコメント、<br>
    　  いいね機能などを用いながら、<br>
    　  発信、共有するための地域密着型SNSサイトです。<br>
    　  茅ヶ崎市のレジャースポットや施設、お店などを、<br>
    　  既にこの街に暮らす人や訪れたことがある方は自身の視点から<br>
    　  魅力を発信してもらったり、新しい発見や再確認にもつなげてもらい、<br>
    　  まだ訪れたことがない方はこのサイトを覗くことで、<br>
    　  茅ヶ崎市が素敵な場所であると感じてもらい、<br>
    　  訪問意欲をかきたてられるようなサイト。
    　</div>   
    </div>   
 
 </section>

</main>


