<div class="container my-4">
　<%= form_with model:@blog, local: true do |f| %>
　<h2 class="blog-heading">Edit Blog</h2>

  　<div class ="col-md-12">
   　<table class="table">
     　<tr><th class="col-md-1">ブログタイトル</th> <td class="col-md-2"><%= f.text_field :title %></td></tr>
     　<tr><th class="col-md-1">場所</th> <td class="col-md-2"><%= f.collection_select :place_id, Place.all, :id,:name,{prompt: "--選択してください--"} %></td></tr>
     　<tr><th class="col-md-1">タグ</th> <td class="col-md-2"><%= f.text_field :tag_ids,value: @tag_list, placeholder: "タグをつける。複数つけるには','で区切ってください。" %></td></tr>
     　<tr><th class="col-md-1">本文</th> <td class="col-md-2"><%= f.text_area :body, rows: 10, cols: 70 %></td></tr>
     　<tr><th class="col-md-1">追加する画像</th> <td class="col-md-2"><%= f.file_field :images, multiple: true %></td></tr>
   　</table>
   　
   　
     <% if @blog.images.present? %>
     <h5>現在登録されている画像（削除するものがあればチェック）</h5>
       <p>
          <% @blog.images.each do |image| %>
          <%= f.check_box :image_ids, {multiple: true}, image.id, false %>
          <%= image_tag image, size:"150x150" %></p><br>
         <% end %>
     <% end %>
  　 <div class="actions">
   　  <%= f.submit "変更を保存", class: "btn btn-primary"  %>
  　 </div><br>
  　
  
 　　</div>
  <% end %>

</div>