<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text">
      茅ヶ崎市のおすすめスポットをどんどん共有して<br />
      皆さんで一緒に茅ヶ崎を盛り上げていきましょう!<br />
      まだ訪れたことがない方は是非参考にしてください！
    </p>
    <p class="main-visual-name">
      Chigasaki-City
    </p>
  </div>
</div>

<main>
 <div class="sidebar">
   <section class="popular">
     <h2 class="sidebar-heading common-heading">Landscape</h2>
     <div class="sidebar-contents">
       <p class popular-text>
         山
       </p>
       <p class popular-text>
         川
       </p>
       <p class popular-text>
         森
       </p>
       <p class popular-text>
         海
       </p>
       <p class popular-text>
         施設
       </p>
     </div>
   </section>

  <section class="categories">
    <h2 class="categories-heading common-heading">City</h2>
    <div class="sidebar-contents">
      <p class="categories-text">茅ヶ崎市(15)</p>
      <p class="categories-text">平塚市(19)</p>
      <p class="categories-text">藤沢市(18)</p>
      <p class="categories-text">鎌倉市(16)</p>
      <p class="categories-text">大磯町(14)</p>
      <p class="categories-text">横浜市(13)</p>
    </div>
  </section>
 </div>

 <section class="blog">
    <h2 class="blog-heading">Recent Blogs</h2>

    <div class="blog-box">

     <% @blogs.each do |blog| %>
      <h3 class="blog-text-heading"><%= link_to blog.title, blog_path(blog) %></h3><p><%= blog.created_at.strftime('%Y/%m/%d') %></p>
      <div class="blog-item">

       <div class="blog-image"><%= link_to blog_path(blog.id) do %><%= attachment_image_tag blog, :image %><% end %></div>
       <section class="blog-text">
           
         <p class="category"><%= blog.category %></p>
         <p><%= raw(blog.body.gsub(/\R/, "<br>")) %></p>
         <p>投稿者：  <%= link_to  blog.user.name, user_path(blog.user.id) %><p>
         <p><%= link_to "投稿詳細", blog_path(blog.id) %></p>
         <p><%= link_to "#{blog.blog_comments.count} コメント", blog_path(blog.id) %></p>
       </section>
      </div>
      <% end %>
      <%= paginate @blogs %>

    </div>

 </section>

</main>

