<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text">
      茅ヶ崎市のおすすめスポットをどんどん共有して<br />
      皆さんで一緒に茅ヶ崎を盛り上げていきましょう!<br />
      まだ訪れたことがない方は是非参考にしてください！
    </p>
    <p class="main-visual-name">
      Chigasaki-City
    </p>
  </div>
</div>

<main>
 <div class="sidebar">
   <section class="categories">
     <h2 class="categories-heading">Scene</h2>
      <div class="sidebar-contents">
        <% @tag_list.each do |list|%>
　　    <p class="categories-text"><%=link_to list.name,search_tag_path(tag_id: list.id) %><%="(#{list.blogs.count})" %></p><% end %>
      </div>
   </section>

   <section class="categories">
     <h2 class="categories-heading">City</h2>
     　<div class="sidebar-contents">
        <% @places.each do |list| %>
　　    <p class="categories-text"><%=link_to list.name, search_place_path(place_id: list.id) %><%="(#{list.blogs.count})" %></p><% end %>
       </div>
   </section>
  </div>

 <section class="blog">
    <h2 class="blog-heading">Recent Blogs</h2>

    <div class="blog-box">

     <% @blogs.each do |blog| %>
      <h5 class="blog-text-heading"><%= link_to blog.title, blog_path(blog) %></h5><p><%= blog.created_at.strftime('%Y/%m/%d') %></p>
      <div class="blog-item">

       <div class="blog-image">
         <% blog.images.each do |image| %>
         <%= image_tag(image, width:100) %>
         <% end %></div>
       <section class="blog-text">

         <p class="category"><%= blog.place.name %></p>

         <% blog.tags.each do |tag| %>
         <%= tag.name %>
         <% end %>

         <p><%= raw(blog.body.gsub(/\R/, "<br>").truncate(50)) %></p>
         <p>投稿者：  <%= link_to  blog.user.name, user_path(blog.user.id) %><p>
         <p><%= link_to "投稿詳細", blog_path(blog.id) %></p>
         <p class="favoriteCount">♥<%= blog.favorites.count %></p>
         <p><%= link_to "#{blog.blog_comments.count} コメント", blog_path(blog.id) %></p>
       </section>
      </div>
      <% end %>

      <div class="pagination pagination-sm justify-content-center">
      <%= paginate @blogs %></div>

    </div>

 </section>

</main>

