<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text">
      茅ヶ崎市のおすすめスポットをどんどん共有して<br />
      皆さんで一緒に茅ヶ崎を盛り上げていきましょう!<br />
      まだ訪れたことがない方は是非参考にしてください！
    </p>
    <p class="main-visual-name">
      Chigasaki-City
    </p>
  </div>
</div>

<main>
  <div class="sidebar">
   <section class="categories">
     <h2 class="categories-heading">Search</h2>
      <div class="sidebar-contents">
        <%= form_with url: search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word %><br><br>
        <%= f.select :range, options_for_select([['ユーザー','User'], ['ブログ','Blog']]) %>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backword_match"], ["部分一致","partial_match"]]) %><br><br>
        <%= f.submit "検索", class: "btn btn-primary" %>
        <% end %>
      </div>
   </section>

   <section class="categories">
     <h2 class="categories-heading">Scene</h2>
      <div class="sidebar-contents">
        <% @tag_list.each do |list|%>
　　    <p class="categories-text"><%=link_to list.name,search_tag_path(tag_id: list.id) %><%="(#{list.blogs.count})" %></p><% end %>
      </div>
   </section>

   <section class="categories">
     <h2 class="categories-heading">City</h2>
     　<div class="sidebar-contents">
        <% @places.each do |list| %>
　　    <p class="categories-text"><%=link_to list.name, search_place_path(place_id: list.id) %><%="(#{list.blogs.count})" %></p><% end %>
       </div>
   </section>
  </div>

 <section class="blog">
    <h2 class="blog-heading">Recent Blogs</h2>

    <% @blogs.each do |blog| %>
      <div class="blog-box">
      　<h4 class="blog-box-heading"><%= link_to blog.title, blog_path(blog) %></h4>
      　　<table class="table">
    　 　  　<tr><th class="col-md-1">投稿者</th> <td class="col-md-2"><%= link_to  blog.user.name, user_path(blog.user.id) %></td></tr>
     　　　<tr><th class="col-md-1">投稿日</th> <td class="col-md-2"><%= blog.created_at.strftime('%Y/%m/%d') %></td></tr>
     　     <tr><th class="col-md-1">場所</th> <td class="col-md-2"><%=link_to blog.place.name, search_place_path(place_id: blog.place.id) %></td></tr>
     　     <tr><th class="col-md-1">関連タグ</th> <td class="col-md-2"><% blog.tags.each do |tag| %><%= link_to tag.name, search_tag_path(tag_id: tag.id)%>   <% end %></td></tr>
     　     <tr><th class="col-md-1">いいね ♥<%= blog.favorites.count %></th> <th class="col-md-2"><%= blog.blog_comments.count %>コメント</th></tr>
           <tr><th class="col-md-1">本文</th> <td class="col-md-2"><%= raw(blog.body.gsub(/\R/, "<br>").truncate(50)) %></td></tr>
          </table>

         <div class="blog-image">
          <% blog.images.each do |image| %>
          <%= image_tag(image, width:100) %>
          <% end %>
         </div>
         <p><%= link_to "投稿詳細", blog_path(blog.id), class: "btn btn-primary" %></p>
      </div><br><br>
    <% end %>

    <%= paginate @blogs %>

 </section>

</main>

