<main>
　<div class="sidebar">
   <section class="categories">
     <h2 class="categories-heading">Scene</h2>
      <div class="sidebar-contents">
        <% @tag_list.each do |list|%>
　　    <p class="categories-text"><%=link_to list.name,search_tag_path(tag_id: list.id) %><%="(#{list.blogs.count})" %></p><% end %>
      </div>
   </section>

   <section class="categories">
     <h2 class="categories-heading">City</h2>
     　<div class="sidebar-contents">
        <% @places.each do |list| %>
　　    <p class="categories-text"><%=link_to list.name, search_place_path(place_id: list.id) %><%="(#{list.blogs.count})" %></p><% end %>
       </div>
   </section>
 </div>

 <section class="blog">
   <h2 class="blog-heading">タグが「<%=@tag.name%>」の投稿一覧</h2>
   <% @blogs.each do |blog| %>
     <div class="card">
       <div class="card-body">
         <h6 class="card-title">
           <%=link_to blog_path(blog.id) do %><%= blog.title.truncate(25) %><% end %>
           投稿者：<%= link_to  blog.user.name, user_path(blog.user.id) %>
           いいね ♥<%= blog.favorites.count %>
           コメント数<%= blog.blog_comments.count %>
         </h6>
       </div>
     </div>
    <% end %>
    
    <%= paginate @blogs %></div>
  </section>
</main>

<style>
.card{
  padding:0;
  margin:0;
  border:none;
}

h6 {
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 3px black;
}
</style>