<main>
 <div class="sidebar">
   <section class="categories">
     <h2 class="categories-heading">Search</h2>
      <div class="sidebar-contents">
        <%= form_with url: search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word %><br><br>
        <%= f.select :range, options_for_select([['ユーザー','User'], ['ブログ','Blog']]) %>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backword_match"], ["部分一致","partial_match"]]) %><br><br>
        <%= f.submit "検索", class: "btn btn-primary" %>
        <% end %>
      </div>
   </section>
   
   <section class="categories">
     <h2 class="categories-heading">Scene</h2>
      <div class="sidebar-contents">
        <% @tag_list.each do |list|%>
　　    <p class="categories-text"><%=link_to list.name,search_tag_path(tag_id: list.id) %><%="(#{list.blogs.count})" %></p><% end %>
      </div>
   </section>

   <section class="categories">
     <h2 class="categories-heading">City</h2>
     　<div class="sidebar-contents">
        <% @places.each do |list| %>
　　    <p class="categories-text"><%=link_to list.name, search_place_path(place_id: list.id) %><%="(#{list.blogs.count})" %></p><% end %>
       </div>
   </section>
  </div>

 <section class="blog">
     <h2 class="blog-heading"><%=@place.name%>の投稿一覧</h2>
      <% @blogs.each do |blog| %>
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">
            <%=link_to blog_path(blog.id) do %><%= blog.title.truncate(25) %><% end %>
            <div class="search-reault">
             投稿者：<%= link_to  blog.user.name, user_path(blog.user.id) %>
             いいね ♥<%= blog.favorites.count %>
             コメント数<%= blog.blog_comments.count %>
            </div>
          </h6>
        </div>
      </div>
      <% end %>
      <%= paginate @blogs %>
 </section>

</main>
