
    <main>
 <div class="sidebar">
   <section class="popular">
     <h2 class="sidebar-heading common-heading">Landscape</h2>
     <div class="sidebar-contents">
       <p class popular-text>
         山(15)
       </p>
       <p class popular-text>
         川(15)
       </p>
       <p class popular-text>
         森(15)
       </p>
       <p class popular-text>
         海(15)
       </p>
       <p class popular-text>
         施設(15)
       </p>
     </div>
   </section>

  <section class="categories">
    <h2 class="categories-heading common-heading">City</h2>
    <div class="sidebar-contents">
      <p class="categories-text">茅ヶ崎市(15)</p>
      <p class="categories-text">平塚市(19)</p>
      <p class="categories-text">藤沢市(18)</p>
      <p class="categories-text">鎌倉市(16)</p>
      <p class="categories-text">大磯町(14)</p>
      <p class="categories-text">横浜市(13)</p>
    </div>
  </section>
 </div>

 <section class="blog">
    <h2 class="blog-heading">Blogs</h2>

    <div class="blog-box">
            <% if @blog.user == current_user %>
        <div>
          <%= link_to"新規投稿", new_blog_path %>
        </div>
      <% end %>


      <h3 class="blog-box-heading">
        <%= @blog.title %>
      </h3>

      <div class="blog-box-content">
        <p class="category">
         <%= @blog.category %>
        </p>
        <p class="blog-date">
         <%= @blog.created_at.strftime('%Y/%m/%d') %>
        </p>
      </div>
      <%= attachment_image_tag @blog, :image %>
      <p class="single-text">
        <%= raw(@blog.body.gsub(/\R/, "<br>")) %>
      </p>
      <% if @blog.user == current_user %>
       <%= link_to "編集", edit_blog_path(@blog) %>
       <%= link_to "削除", blog_path(@blog), method: :delete %>
      <% end %>

      <div>
      <p>コメント件数:<%= @blog.blog_comments.count %></p>
        <% @blog.blog_comments.each do |blog_comment| %>
          <p><%= attachment_image_tag post_image.user, :profile_image, :fill, 60, 60, fallback:"no-image.jpg"%></p>
          <%= blog_comment.user.name %>
          <%= blog_comment.created_at.strftime('%Y/%m/%d') %><%= blog_comment.comment %>

          <% if post_comment.user == current_user %>
          <div>
            <%= link_to "削除", blog_blog_comment_path(blog_comment.blog, blog_comment), method: :delete %>
          </div>
          <% end %>

        <% end %>

        <% if @blog.favorite_by?(current_user) %>
    　　　<p>
      　<%= link_to blog_favorites_path(@pblog), method: :delete do %>
        　♥<%= @blog.favorites.count %> いいね
      　<% end %>
    　　</p>
    　　<% else %>
    　　　<p>
      　<%= link_to blog_favorites_path(@blog), method: :post do %>
        　♡<%= @blog.favorites.count %> いいね
      　<% end %>
    　　</p>
  　　　　<% end %>

      </div>

      <div>
      <%= form_with(model:[@blog, @blog_comment], local: true) do |f| %>
        <%= f.text_area :comment, rows:'5',placeholder:"コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
      </div>

      <div class="author-case">
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback:"img/no_image.jpg"%></div>
        <div class="author-box">
          <p>プロフィール詳細</p>
          <p>@blog.user.nameの他の投稿を見る"</p>
        </div>


    </div>

 </section>

</main>




