<div class="container my-5">
<%= form_with model:@user, local:true do |f| %>

<h2 class="blog-heading">Edit　Plofile</h2>

 <div class ="col-md-12">
   <table class="table">
     <tr><th class="col-md-1">現在のプロフィール画像</th> <td class="col-md-2"><%= attachment_image_tag @user, :profile_image, :fill, 200, 200, fallback:"img/no_image.jpg"%></td></tr>
     <tr><th class="col-md-1">プロフィール画像の変更</th> <td class="col-md-2"><%= f.attachment_field :profile_image %></td></tr>
     <tr><th class="col-md-1">サイト内での表示名</th> <td class="col-md-2"><%= f.text_field :name, autofocus: true, id:"inputName" %></td></tr>
     <tr><th class="col-md-1">プロフィール</th> <td class="col-md-2"><%= f.text_area :caption,  autofocus: true, id:"inputCaption",placeholder:"プロフィール詳細", rows: 10, cols: 70 %></td></tr>
     <tr><th class="col-md-1">プロフィール紹介画像</th> <td class="col-md-2"><%= f.file_field :images, multiple: true %></td></tr>
   </table>
　　<% if @user.images.present? %>
     <h5>現在登録されているプロフィール紹介画像（削除するものがあればチェック）</h5>
       <p>
          <% @user.images.each do |image| %>
          <%= f.check_box :image_ids, {multiple: true}, image.id, false %>
          <%= image_tag image, size:"300x300" %></p><br>
         <% end %>
     <% end %>
　　　
　　　
　　　
　　　
  <div class="actions">
   <%= f.submit "変更を保存", class: "btn btn-primary"  %>
  </div><br>
   <% end %>
 </div>

</div>