<div>
  <h3><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "img/no_image.jpg" %>
　<p>説明:<%= @user.caption %></p>
　
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>


</div>

<h2 class="blog-heading">Recent Blogs</h2>
<% @blogs.each do |blog| %>
<div>

  <h3 class="blog-box-heading">
        <%= blog.title %>
      </h3>
　　　<%= attachment_image_tag blog, :image %>
      <div class="blog-box-content">
        <p class="category">
         <%= blog.category %>
        </p>
        <p class="blog-date">
         <%= blog.created_at.strftime('%Y/%m/%d') %>
        </p>
      </div>
      
      <p class="single-text">
        <%= blog.body %>
      </p>
</div>
<% end %>

<h3><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "img/no_image.jpg" %>
<p>説明:<%= @user.caption %></p>

<%= paginate @blogs %>