<!DOCTYPE html>
<html>
  <head>
    <title>MM-Chigasaki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/3ef4f3852b.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>
  <h1 class="heading">
    <a href="index.html">
      WELCOME-TO-SHONAN-CHIGASAKI<br />
      ようこそ湘南茅ヶ崎へ！
    </a>
  </h1>

<div class="social">
  <%# if user_signed_in? %>
  <!--<i class="fab fa-facebook-square"></i>-->
  <!--<i class="fab fa-twitter-square"></i>-->
  <!--<i class="fab fa-instagram"></i>-->
  <%# else %>
  <%# end %>
</div>

</header>

<body>
 <% if user_signed_in? %>
  <nav>
   <ul class="nav-list">
    <li class="nav-list-item"><%= link_to "Home", blogs_path %></li>
    <li class="nav-list-item">About</li>
    <li class="nav-list-item"><%= link_to "マイページ", user_path(current_user.id) %></li>
    <li class="nav-list-item"><%= link_to"ログアウト", destroy_user_session_path, method: :delete %></li>
    <li class="nav-list-item"><%= link_to"新規投稿", new_blog_path %></li>
   </ul>
  </nav>
 <% else %>
  <nav>
   <ul class="nav-list">
    <li class="nav-list-item"><%= link_to "Home", blogs_path %></li>
    <li class="nav-list-item">About</li>
    <li class="nav-list-item"><%= link_to"新規登録", new_user_registration_path %></li>
    <li class="nav-list-item"><%= link_to"ログイン", new_user_session_path %></li>
   </ul>
  </nav>
<% end %>

<%= yield %>

<footer>
  <p class="footer-text">© All rights reserved by MM</p>
</footer>

  </body>
</html>
